* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #31302d;
}

.main {
    background-color: #fff;
    /* border: 2px solid black; */
    height: 100rem;
    width: 65rem;
    transform: translateX(10rem);
}

.outerLine {
    /* border: solid 2px black; */
    height: 70rem;
    width: 61rem;
    transform: translate(12rem, -96rem);

    background: rgb(229, 45, 96);
    background: linear-gradient(248deg, rgba(229, 45, 96, 1) 21%, rgba(218, 43, 96, 0.8239670868347339) 80%);
}

.innerLine {
    /* border:solid 2px black; */
    height: 62rem;
    width: 56rem;
    margin-left: 2rem;
    transform: translateY(3.5rem);
    background-color: #F8F8F8;

}

header {
    height: 18rem;
    width: 56rem;
    background-color: #fff;
    margin: 0rem auto;

}

.logo {
    height: 2rem;
    width: 2rem;
    transform: translate(1rem, .5rem);
}

.logo img {
    height: 2rem;
    width: 2.5rem;
}

.search input {
    background-color: #F4F2F3;
    color: #beacb5;
    height: 1.5rem;
    width: 20rem;
    border-radius: 10rem;
    transform: translate(15rem, -1rem);
    text-align: center;
}

.profileImage img {
    border-radius: 50%;
    height: 2rem;
    position: absolute;
    right: 5rem;
    top: .5rem;
}

. h5 {
    position: absolute;
    right: 2rem;
    top: 1rem;
    color: black;
}

.m {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: rgb(229, 45, 96);
}

.m h4 {
    position: absolute;
    color: #fff;
    font-size: 15px;
    margin-left: 4px;
    margin-top: 2px;

}

.c2 {
    position: absolute;
    right: 8rem;
    top: .3rem;
}

.c1 {
    position: absolute;
    right: 12rem;
    top: .3rem;
    z-index: 1;
}

.c1 h4 {
    margin-left: 8px;
    margin-top: 2px;
}

.sideBar {
    /* border: solid 2px black; */
    height: 58.5rem;
    width: 10.8rem;
    /* margin-left: -0px; */
    margin-top: -1rem;
    background-color: #323232;
}

.options li {
    color: #f1ecec;
    margin-left: 2.5rem;
    margin-top: 1rem;
    list-style-type: none;
    height: 2rem;
    position: absolute;
    /* border: solid 2px black; */
}

.options a {
    /* border: solid 2px black; */
    display: block;
    text-decoration: none;
    width: 10.8rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: -0.5px;
}

.options a:hover {
    background-color: rgb(229, 45, 96);
    ;
}

.flex {
    /* border: solid 2px black; */
    height: 10rem;
    width: 45rem;
    position: absolute;
    top: 3.5rem;
    left: 10.8rem;
    display: flex;
    flex-wrap: wrap;
}

.flex img {
    height: 10rem;
    width: 15.0rem;
}

.title1 {
    /* border: solid 2px black; */
    width: 17rem;
    position: absolute;
    top: 14.5rem;
    left: 12rem;
}

.title1 h1 {
    color: #C5C5C5;
}

.title2 h4 {
    color: rgb(229, 45, 96);
    border-bottom: solid 1.5px rgb(229, 45, 96);
    width: 8.5rem;
    position: absolute;
    right: -15rem;
    top: .2rem;
}

.vote {
    /* border:solid 2px black; */
    width: 5rem;
    height: 4.5rem;
    text-align: center;
    position: absolute;
    top: 13.5rem;
    right: 0rem;
    background-color: rgba(229, 45, 97, 0.899);
    color: #fffffff1
}

.vote h1 {
    margin-top: 10px;
}

.smallText {
    color: #8C8C8C;
    /* border: solid 2px black; */
    height: 2rem;
    width: 8rem;
    text-align: center;
    transform: translate(0.5rem, -4rem);
}

.description {
    /* border: solid 2px black; */
    height: 40rem;
    width: 25rem;
    background-color: #fff;
    transform: translate(12rem, 2rem);
    color: #8C8C8C
}

.descriptionText {
    border-bottom: solid 1px #d8d1d1f1;
    width: 23rem;
    margin-left: 1rem;
    height: 10rem;
    margin-top: 2rem;
}

.description1 {
    border-bottom: solid 1px #d8d1d1f1;
    width: 23rem;
    margin-left: 1rem;
    height: 8rem;

}

.description1 h5 {
    width: 10rem;
    height: 6rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-left: .5rem;
}

.description2 h5 {
    width: 8rem;
    height: 6rem;
    line-height: 1.5rem;
    transform: translate(15rem, -8rem);

}

.recommendation {
    /* border:solid 2px black; */
    width: 17rem;
    transform: translate(1rem, -4rem);
}

.pics {
    /* border:solid 2px black; */
    width: 9rem;
    transform: translate(18.4rem, -5.5rem);
}

.pics img {
    border-radius: 50%;
    height: 2rem;
    border: solid 2px white
}

.pic2 {
    transform: translate(-1rem, 0rem);

}

.pic3 {
    transform: translate(-2rem, 0rem);

}

.pic4 {
    transform: translate(-3rem, 0rem);

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14rem;
}

.review1 {
    /* border: solid 2px black; */
    height: 15rem;
    width: 11rem;
    background-color: #fff;
    color: #8C8C8C;
    transform: translate(0rem, 2rem);
    background-repeat: no-repeat;
    background-position-y: -0.5rem;


}

.review1 h5 {
    /* border: solid 2px black; */
    width: 9rem;
    height: 8rem;
    margin-left: .9rem;
    margin-top: 1.5rem;
}

.review1 img {
    border-radius: 50%;
    height: 2rem;
    transform: translate(1.1rem, -0rem);
}

.userName {
    /* border: solid 2px black; */
    width: 3rem;
    height: 2rem;
    transform: translate(4rem, -3rem);
    color: rgba(143, 126, 126, 0.971);
    line-height: 1rem;
}

.userName p {
    color: #beacb5;
    font-size: .7rem;
    /* border: solid 2px black; */
    margin-top: 5px;
}

.userName h2 {
    color: rgb(229, 45, 96);
    transform: translate(2.5rem, -2.8rem);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif
}

.userName2 p {
    margin-top: -1px;
}

.userName2 {
    margin-top: -5px;
}

.review2 {
    position: absolute;
    top: 36rem;
    right: 6rem;
}

.news {
    width: 6rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(123, 119, 119);
    position: absolute;
    top: 20rem;
    right: 1rem;
    font-size: 1rem;
}

.button {
    height: 3rem;
    width: 7.5rem;
    text-align: center;
    position: absolute;
    right: -1.5rem;
    top: 30rem;
    border-radius: 10cqb;
    color: #fff;
    background-color: rgb(229, 45, 96);
    ;
}

.button p {
    margin-top: 5px;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}



/* resposive */
@media(max-width:1193px) {
    .main {


        height: 100rem;
        width: 65rem;
        transform: translateX(8rem);
    }

    .outerLine {

        height: 70rem;
        width: 61rem;
        transform: translate(10rem, -96rem);

    }
}

@media(max-width:1165px) {
    .main {

        height: 100rem;
        width: 65rem;
        transform: translateX(4rem);
    }

    .outerLine {

        height: 70rem;
        width: 61rem;
        transform: translate(6rem, -96rem);

    }
}

@media(max-width:1103px) {
    .main {

        height: 100rem;
        width: 60rem;
        transform: translateX(4rem);
    }

    .outerLine {

        height: 70rem;
        width: 55rem;
        transform: translate(6rem, -96rem);

    }

    .innerLine {
        height: 62rem;
        width: 52rem;
        margin-left: 1rem;
    }

    header {
        height: 18rem;
        width: 52rem;
    }

    .sideBar {

        height: 58.5rem;
        width: 8rem;

        margin-top: -1rem;

    }

    .options li {
        margin-left: 1rem;
        margin-top: 1rem;

        height: 2rem;

    }

    .options a {
        width: 8rem;
        height: 3rem;
        margin-top: 1rem;
        margin-left: 0px;
    }

    .search input {
        height: 1.5rem;
        width: 20rem;
        transform: translate(12rem, -1rem);

    }

    .flex {
        /* border: solid 2px black; */
        height: 10rem;
        width: 45rem;

        top: 3.5rem;
        left: 8rem;

    }

    .flex img {
        height: 10rem;
        width: 14.6rem;
    }

    .smallText {
        height: 2rem;
        width: 8rem;

        transform: translate(0rem, -4rem);
    }

    .description {
        height: 40rem;
        width: 23rem;
        background-color: #fff;
        transform: translate(9rem, 2rem);
        color: #8C8C8C
    }

    .descriptionText {
        border-bottom: solid 1px #d8d1d1f1;
        width: 20rem;
        margin-left: 1rem;
        height: 10rem;
        margin-top: 2rem;
    }

    .description1 {
        border-bottom: solid 1px #d8d1d1f1;
        width: 20rem;
        margin-left: 1rem;
        height: 8rem;

    }

    .description1 h5 {
        width: 10rem;
        height: 6rem;
        line-height: 1.5rem;
        margin-top: 1rem;
        margin-left: .5rem;
    }

    .description2 h5 {
        width: 8rem;
        height: 6rem;
        line-height: 1.5rem;
        transform: translate(13rem, -8rem);

    }

    .recommendation {
        /* border:solid 2px black; */
        width: 12rem;
        transform: translate(1rem, -4rem);
    }

    .pics {
        /* border:solid 2px black; */
        width: 9rem;
        transform: translate(11.5rem, -6rem);
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem;
    }

    .review2 {

        top: 36rem;
        right: 8rem;
    }

    .news {
        width: 9rem;
        top: 23rem;
        right: 1.6rem;
        font-size: 1rem;
    }
}

@media(max-width:1020px) {
    .main {

        height: 100rem;
        width: 55rem;
        transform: translateX(4rem);
    }

    .outerLine {

        height: 70rem;
        width: 50rem;
        transform: translate(5.5rem, -96rem);

    }

    .innerLine {
        height: 62rem;
        width: 47rem;
        margin-left: 1.2rem;
    }

    header {
        height: 18rem;
        width: 47rem;
    }

    .sideBar {

        height: 58.5rem;
        width: 7rem;

        margin-top: -1rem;

    }

    .options li {
        margin-left: 0.5rem;
        margin-top: 1rem;

        height: 2rem;

    }

    .options a {
        width: 7rem;
        height: 3rem;
        margin-top: 1rem;
        margin-left: 0px;
    }

    .search input {

        height: 1.5rem;
        width: 20rem;

        transform: translate(12rem, -1rem);

    }

    .flex {
        /* border: solid 2px black; */
        height: 10rem;
        width: 45rem;

        top: 3.5rem;
        left: 7rem;

    }

    .flex img {
        height: 10rem;
        width: 13.3rem;
    }

    .title1 {

        width: 17rem;

        top: 14.5rem;
        left: 9rem;
    }



    .title2 h4 {
        width: 8.5rem;

        right: -10rem;
        top: .2rem;
    }


    .smallText {
        height: 2rem;
        width: 6rem;

        transform: translate(0rem, -4rem);
    }


    .description {
        height: 40rem;
        width: 18rem;
        background-color: #fff;
        transform: translate(8rem, 2rem);
        color: #8C8C8C
    }

    .descriptionText {
        border-bottom: solid 1px #d8d1d1f1;
        width: 17rem;
        margin-left: 1rem;
        height: 10rem;
        margin-top: 2rem;
    }

    .description1 {
        border-bottom: solid 1px #d8d1d1f1;
        width: 18rem;
        margin-left: 0.5rem;
        height: 8rem;

    }

    .description1 h5 {
        width: 8rem;
        height: 6rem;
        line-height: 1.5rem;
        margin-top: 1rem;
        margin-left: .5rem;
    }

    .description2 h5 {
        width: 7rem;
        height: 6rem;
        line-height: 1.5rem;
        transform: translate(10rem, -8rem);

    }

    .recommendation {
        /* border:solid 2px black; */
        width: 12rem;
        transform: translate(1rem, -4rem);
    }

    .pics {
        /* border:solid 2px black; */
        width: 9rem;
        transform: translate(11.5rem, -6rem);
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem;
    }


    .news {
        width: 9rem;
        top: 23rem;
        right: -1.6rem;
        font-size: 1rem;
    }


}

@media(max-width:944px) {
    .main {

        height: 100rem;
        width: 55rem;
        transform: translateX(2rem);
    }

    .outerLine {

        height: 70rem;
        width: 50rem;
        transform: translate(4.5rem, -96rem);

    }

    .innerLine {
        height: 62rem;
        width: 47rem;

    }

}



@media(max-width:904px) {
    .main {

        height: 100rem;
        width: 54rem;
        transform: translateX(0.5rem);
    }

    .outerLine {

        height: 70rem;
        width: 50rem;
        transform: translate(2.5rem, -96rem);

    }


}

@media(max-width:870px) {
    .main {

        height: 100rem;
        width: 48rem;
        transform: translateX(3rem);
    }

    .outerLine {

        height: 70rem;
        width: 45rem;
        transform: translate(4.5rem, -96rem);

    }

    .innerLine {
        height: 62rem;
        width: 40rem;
        margin-left: 1.2rem;
    }

    header {
        height: 18rem;
        width: 40rem;
    }

    .sideBar {

        height: 58.5rem;
        width: 7rem;

        margin-top: -1rem;

    }

    .options li {
        margin-left: 0.5rem;
        margin-top: 1rem;

        height: 2rem;

    }

    .options a {
        width: 7rem;
        height: 3rem;
        margin-top: 1rem;
        margin-left: 0px;
    }

    .search input {

        height: 1.5rem;
        width: 20rem;

        transform: translate(6rem, -1rem);

    }

    .flex {
        /* border: solid 2px black; */
        height: 10rem;
        width: 45rem;

        top: 3.5rem;
        left: 7rem;

    }

    .flex img {
        height: 10rem;
        width: 11rem;
    }

    .title1 {

        width: 15rem;

        top: 14rem;
        left: 7.5rem;
    }



    .title2 h4 {
        width: 8.5rem;

        right: -9rem;
        top: 1rem;
    }


    .smallText {
        height: 2rem;
        width: 6rem;

        transform: translate(0rem, -4rem);
    }


    .description {
        height: 40rem;
        width: 15rem;
        background-color: #fff;
        transform: translate(8rem, 2rem);
        color: #8C8C8C
    }

    .descriptionText {
        border-bottom: solid 1px #d8d1d1f1;
        width: 14rem;
        margin-left: 0.8rem;
        height: 11.5rem;
        margin-top: 2rem;
    }

    .description1 {
        border-bottom: solid 1px #d8d1d1f1;
        width: 16rem;
        margin-left: 0.5rem;
        height: 8rem;

    }

    .description1 h5 {
        width: 6rem;
        height: 6rem;
        line-height: 1rem;
        margin-top: 1rem;
        margin-left: .5rem;
    }

    .description2 h5 {
        width: 5rem;
        height: 6rem;
        line-height: 1rem;
        transform: translate(8.5rem, -8rem);

    }

    .recommendation {
        /* border:solid 2px black; */
        width: 6rem;
        transform: translate(1rem, -4rem);
    }

    .pics {
        /* border:solid 2px black; */
        width: 9rem;
        transform: translate(8rem, -7rem);
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7rem;
    }

    .review2 {

        top: 36rem;
        right: 5.5rem;
    }

    .news {
        width: 6rem;
        top: 20rem;
        right: -0.5rem;
        font-size: 1rem;
    }


}

@media(max-width:814px) {
    .main {

        height: 100rem;
        width: 45rem;
        transform: translateX(3rem);
    }

    .outerLine {

        height: 70rem;
        width: 40rem;
        transform: translate(4.5rem, -96rem);

    }

    .innerLine {
        height: 62rem;
        width: 37rem;
        margin-left: 1.2rem;
    }

    header {
        height: 18rem;
        width: 37rem;
    }

    .sideBar {

        height: 58.5rem;
        width: 7rem;

        margin-top: -1rem;

    }

    .options li {
        margin-left: 0.5rem;
        margin-top: 1rem;

        height: 2rem;

    }

    .options a {
        width: 7rem;
        height: 3rem;
        margin-top: 1rem;
        margin-left: 0px;
    }

    .search input {

        height: 1.5rem;
        width: 15rem;

        transform: translate(6rem, -1rem);

    }

    .flex {
        /* border: solid 2px black; */
        height: 10rem;
        width: 45rem;

        top: 3.5rem;
        left: 7rem;

    }

    .flex img {
        height: 10rem;
        width: 10rem;
    }

    .title1 {

        width: 15rem;

        top: 14rem;
        left: 7.5rem;
    }



    .title2 h4 {
        width: 8.5rem;

        right: -9rem;
        top: 1rem;
    }


    .smallText {
        height: 2rem;
        width: 6rem;

        transform: translate(0rem, -4rem);
    }


    .description {
        height: 40rem;
        width: 15rem;
        background-color: #fff;
        transform: translate(8rem, 2rem);
        color: #8C8C8C
    }

    .descriptionText {
        border-bottom: solid 1px #d8d1d1f1;
        width: 14rem;
        margin-left: 0.8rem;
        height: 11.5rem;
        margin-top: 2rem;
    }

    .description1 {
        border-bottom: solid 1px #d8d1d1f1;
        width: 14rem;
        margin-left: 0.5rem;
        height: 8rem;

    }

    .description1 h5 {
        width: 6rem;
        height: 6rem;
        line-height: 1rem;
        margin-top: 1rem;
        margin-left: .5rem;
    }

    .description2 h5 {
        width: 5rem;
        height: 6rem;
        line-height: 1rem;
        transform: translate(8.5rem, -8rem);

    }

    .recommendation {
        /* border:solid 2px black; */
        width: 6rem;
        transform: translate(1rem, -4rem);
    }

    .pics {
        /* border:solid 2px black; */
        width: 9rem;
        transform: translate(8rem, -7rem);
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8.5rem;
    }

    .review1 {

        transform: translate(0rem, 2rem);



    }

    .review1 h5 {
        /* border: solid 2px black; */
        width: 6rem;
        height: 8rem;
        margin-left: .9rem;
        margin-top: 1.5rem;
    }

    .review1 img {
        border-radius: 50%;
        height: 2rem;
        transform: translate(0.6rem, 2rem);
    }

    .userName {
        /* border: solid 2px black; */
        width: 3rem;
        height: 2rem;
        transform: translate(3rem, -1.5rem);
        color: rgba(143, 126, 126, 0.971);
        line-height: 1rem;
    }

    .userName p {
        color: #beacb5;
        font-size: .7rem;
        /* border: solid 2px black; */
        margin-top: 5px;
    }

    .userName h2 {
        color: rgb(229, 45, 96);
        transform: translate(2.5rem, -2.8rem);
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif
    }

    .userName2 p {
        margin-top: -1px;
    }

    .userName2 {
        margin-top: -5px;
    }

    .review2 {
        position: absolute;
        top: 36rem;
        right: 5.5rem;
    }


    .news {
        width: 6rem;
        top: 20rem;
        right: -0.5rem;
        font-size: 1rem;
    }


}

@media(max-width:762px) {
    .main {

        height: 100rem;
        width: 40rem;
        transform: translateX(3rem);
    }

    .outerLine {

        height: 70rem;
        width: 36rem;
        transform: translate(4.5rem, -96rem);

    }

    .innerLine {
        height: 65rem;
        width: 32rem;
        margin-left: 1.2rem;
    }

    header {
        height: 18rem;
        width: 32rem;
    }

    .sideBar {

        height: 61.5rem;
        width: 5rem;

        margin-top: -1rem;

    }

    .options li {
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        width: 1rem;

        height: 2rem;

    }

    .options a {
        width: 5rem;
        height: 3rem;
        margin-top: 1rem;
        margin-left: 0px;
    }

    .search input {

        height: 1.5rem;
        width: 10rem;

        transform: translate(6rem, -1rem);

    }

    .flex {
        /* border: solid 2px black; */
        height: 10rem;
        width: 45rem;

        top: 3.5rem;
        left: 5rem;

    }

    .flex img {
        height: 10rem;
        width: 9rem;
    }

    .title1 {

        width: 15rem;

        top: 14rem;
        left: 5rem;
    }



    .title2 h4 {
        width: 8.5rem;

        right: -5rem;
        top: 1rem;
    }


    .smallText {
        height: 2.5rem;
        width: 5rem;

        transform: translate(0rem, -4rem);
    }


    .description {
        height: 42rem;
        width: 10rem;
        background-color: #fff;
        transform: translate(5.5rem, 2rem);
        color: #8C8C8C
    }

    .descriptionText {
        border-bottom: solid 1px #d8d1d1f1;
        width: 9rem;
        margin-left: 0.8rem;
        height: 17rem;
        margin-top: 2rem;
    }

    .description1 {
        border-bottom: solid 1px #d8d1d1f1;
        width: 8rem;
        margin-left: 0.5rem;
        height: 15rem;

    }

    .description1 h5 {
        width: 6rem;
        height: 6rem;
        line-height: 1rem;
        margin-top: 1rem;
        margin-left: .5rem;
    }

    .description2 h5 {
        width: 5rem;
        height: 6rem;
        line-height: 1rem;
        transform: translate(1rem, -7rem);

    }

    .recommendation {
        /* border:solid 2px black; */
        width: 6rem;
        transform: translate(1rem, -4rem);
    }

    .pics {
        /* border:solid 2px black; */
        width: 9rem;
        transform: translate(7rem, -10rem);
    }

    .pic2 {
        transform: translate(-2rem, 1.3rem);

    }

    .pic3 {
        transform: translate(-4.2rem, 2.5rem);

    }

    .pic4 {
        transform: translate(-6.5rem, 3.8rem);

    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .review1 {

        transform: translate(0rem, 2rem);



    }

    .review1 h5 {
        /* border: solid 2px black; */
        width: 6rem;
        height: 8rem;
        margin-left: .9rem;
        margin-top: 1.5rem;
    }

    .review1 img {
        border-radius: 50%;
        height: 2rem;
        transform: translate(0.6rem, 2rem);
    }

    .userName {
        /* border: solid 2px black; */
        width: 3rem;
        height: 2rem;
        transform: translate(3rem, -1.5rem);
        color: rgba(143, 126, 126, 0.971);
        line-height: 1rem;
    }

    .userName p {
        color: #beacb5;
        font-size: .7rem;
        /* border: solid 2px black; */
        margin-top: 5px;
    }

    .userName h2 {
        color: rgb(229, 45, 96);
        transform: translate(2.5rem, -2.8rem);
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif
    }

    .userName2 p {
        margin-top: -1px;
    }

    .userName2 {
        margin-top: -5px;
    }

    .review2 {
        position: absolute;
        top: 36rem;
        right: 7.5rem;
    }


    .news {
        width: 6rem;
        top: 20rem;
        right: 1rem;
        font-size: 1rem;
    }


}

@media(max-width:684px) {
    .main {

        height: 100rem;
        width: 35rem;
        transform: translateX(3rem);
    }

    .outerLine {

        height: 70rem;
        width: 32rem;
        transform: translate(4.5rem, -96rem);

    }

    .innerLine {
        height: 65rem;
        width: 28rem;
        margin-left: 1.2rem;
    }

    header {
        height: 18rem;
        width: 28rem;
    }

    .sideBar {

        height: 61.5rem;
        width: 5rem;

        margin-top: -1rem;

    }

    .options li {
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        width: 1rem;

        height: 2rem;

    }

    .options a {
        width: 5rem;
        height: 3rem;
        margin-top: 1rem;
        margin-left: 0px;
    }

    .search input {

        height: 1.5rem;
        width: 8rem;

        transform: translate(6rem, -1rem);

    }

    .flex {
        /* border: solid 2px black; */
        height: 10rem;
        width: 45rem;

        top: 3.5rem;
        left: 5rem;

    }

    .flex img {
        height: 10rem;
        width: 7.67rem;
    }

    .title1 {

        width: 15rem;

        top: 14rem;
        left: 5rem;
    }



    .title2 h4 {
        width: 8.5rem;

        right: -5rem;
        top: 1rem;
    }


    .smallText {
        height: 2.5rem;
        width: 5rem;

        transform: translate(0rem, -4rem);
    }


    .description {
        height: 42rem;
        width: 10rem;
        background-color: #fff;
        transform: translate(5.5rem, 2rem);
        color: #8C8C8C
    }

    .descriptionText {
        border-bottom: solid 1px #d8d1d1f1;
        width: 9rem;
        margin-left: 0.8rem;
        height: 17rem;
        margin-top: 2rem;
    }

    .description1 {
        border-bottom: solid 1px #d8d1d1f1;
        width: 8rem;
        margin-left: 0.5rem;
        height: 15rem;

    }

    .description1 h5 {
        width: 6rem;
        height: 6rem;
        line-height: 1rem;
        margin-top: 1rem;
        margin-left: .5rem;
    }

    .description2 h5 {
        width: 5rem;
        height: 6rem;
        line-height: 1rem;
        transform: translate(1rem, -7rem);

    }

    .recommendation {
        /* border:solid 2px black; */
        width: 6rem;
        transform: translate(1rem, -4rem);
    }

    .pics {
        /* border:solid 2px black; */
        width: 9rem;
        transform: translate(7rem, -10rem);
    }

    .pic2 {
        transform: translate(-2rem, 1.3rem);

    }

    .pic3 {
        transform: translate(-4.2rem, 2.5rem);

    }

    .pic4 {
        transform: translate(-6.5rem, 3.8rem);

    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .review1 {
        transform: translate(2rem, 15.5rem);


    }




    .userName {
        /* border: solid 2px black; */
        width: 3rem;
        height: 2rem;
        transform: translate(3rem, -1.5rem);
        color: rgba(143, 126, 126, 0.971);
        line-height: 1rem;
    }



    .review2 {
        position: absolute;
        top: 34rem;
        right: 5.5rem;
    }


    .news {
        width: 6rem;
        top: 20rem;
        right: 1rem;
        font-size: 1rem;
    }


}

@media(max-width:612px) {
    .main {

        height: 100rem;
        width: 32rem;
        transform: translateX(3rem);
    }

    .outerLine {

        height: 70rem;
        width: 28rem;
        transform: translate(4.5rem, -96rem);

    }

    .innerLine {
        height: 65rem;
        width: 24rem;
        margin-left: 1.2rem;
    }

    header {
        height: 16rem;
        width: 24rem;
    }

    .flex img {
        height: 8rem;
        width: 6.3rem;
    }

    .title1 {

        width: 10rem;

        top: 11.5rem;
        left: 5rem;
    }



    .title2 h4 {
        width: 8.5rem;

        right: 0rem;
        top: 3.5rem;
    }

    .vote {
        /* border:solid 2px black; */
        width: 5rem;
        height: 4.5rem;
        text-align: center;
        position: absolute;
        top: 11.5rem;
        right: 0rem;
        background-color: rgba(229, 45, 97, 0.899);
        color: #fffffff1
    }

    .vote h1 {
        margin-top: 10px;
    }

    .review1 {

        transform: translate(3.1rem, 17rem);


    }

    .review2 {
        position: absolute;
        top: 32rem;
        right: 3.5rem;
    }

    .profileImage img {
        border-radius: 50%;
        height: 2rem;
        position: absolute;
        right: 3rem;
        top: .5rem;
    }

    .abhi h5 {
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: #beacb5;
    }

    .m {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        background-color: rgb(229, 45, 96);
    }

    .m h4 {
        position: absolute;
        color: #fff;
        font-size: 15px;
        margin-left: 4px;
        margin-top: 2px;

    }

    .c2 {
        position: absolute;
        right: 5.5rem;
        top: .3rem;
    }

    .c1 {
        position: absolute;
        right: 8rem;
        top: .3rem;
        z-index: 1;
    }

    .c1 h4 {
        margin-left: 8px;
        margin-top: 2px;
    }

}

0 comments on commit baadff3 @yash-0000 Attach files by dragging & dropping, selecting or pasting them. You’re not receiving notifications from this thread. Footer © 2023 GitHub, Inc. Footer navigation Terms Privacy Security Status Docs Contact GitHub Pricing API Training Blog About Added CSS file · Atullambe/Atul_Lambe_Hotel_Proj_14-10-2023@baadff3